# Servidor
PORT=3000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=facultad_inscripciones

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_seguro_min_32_chars
JWT_EXPIRES_IN=8h

# Bcrypt
BCRYPT_SALT_ROUNDS=12